html, body { 
  height: 100%;
  margin: 0;
  width: 100%;
  position: fixed;
}

.enter {
  
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    position: absolute;
    z-index: 100;
    font-family: helvetica;
    font-size: 30px;

  
}

a {
  
  text-decoration: none;
  color: black;
  
}

a:hover {
  color:#1ace84;
  text-decoration: none;
  padding-bottom: 2px;
  border: 0;
  background-image: none;
  }

a.green:hover { color: #1ace84; }
a.purple:hover { color: #a262c0; }
a.teal:hover { color: #4ac0aa; }
a.violet:hover { color: #8c78ba; }
a.pink:hover { color: #d529cd; }


img {
  
margin-left: 400px;
width: 40%;
position: relative;
  
}

.rebecca {
  
    transform: translate(-50%, -50%);
    top: 42%;
    left: 51%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 30px;
  
}



.about {
  
    transform: translate(-50%, -50%);
    top: 51.4%;
    left: 45%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 20px;
  
}

.instructions {
  
    transform: translate(-50%, -50%);
    top: 56%;
    left: 46.8%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 20px;
  
}

.origin {
  
    transform: translate(-50%, -50%);
    top: 60.5%;
    left: 45%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 20px;
  
}

.ingredients {
  
    transform: translate(-50%, -50%);
    top: 65.1%;
    left: 47%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 20px;
  
}

.other  {
  
    transform: translate(-50%, -50%);
    top: 70%;
    left: 48.2%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 20px;
  
}

.about-text {
  
    margin-left: 150px;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    top: 56%;
    left: 40%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 11px;
    color: #FA9DE7;
    
  
  
}

.hello {
  
    margin-left: 150px;
    margin-top: 10px;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 33.5%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 16px;
    color: #FA9DE7;
    
  
  
}


.ingredients-text {
  
    margin-left: 150px;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    top: 57%;
    left: 39.5%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 14px;
    color: #FFBC1F;
    
  
  
}

.links {
  
    margin-left: 150px;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    top:55%;
    left: 39.5%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 14px;
    color: #8A1CFF;
    
  
  
}

.links:hover {
    
    color:#8A1CFF;
}

.back {
  
    transform: translate(-50%, -50%);
    bottom: 5%;
    right: 2%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 20px;
  
}

.instructions-text {
  
    margin-left: 200px;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 36%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 11px;
    color: #1752D1;
  
}



.clickme {
  
    bottom: 5%;
    right: 5%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 18px;

  
}

.back1 {
  
    bottom: 9%;
    right: 5%;
    position: absolute;
    z-index: 100;
    font-family: futura;
    font-size: 18px;

  
}

.img1 {
    
    margin: auto;
    width: 20%;
    padding: 10px;
     opacity: 0.3;
     border: 5px black;

    
}


    
.img1:hover {

   opacity:1;
    
}
    
    

.img2 {
    
    margin: auto;
    width: 20%;
    height: 28%;
    padding: 10px;
    opacity: 0.3;
   
    
}

.img2:hover {

   opacity:1;
    
}
    
.img3 {
    
    margin: auto;
    width: 20%;
    height: 28%;
    padding: 10px;
    opacity: 0.3;
  
    
    
}

.img3:hover {
   
   opacity:1;
    
}

.img4{

    top: 100px;
    left: -100%;
    width: 20%;
    height: 30%;
    padding: 10px;
    opacity: 0.3;
    
}

.img4:hover {
   opacity:1;
    
}

.img5{

    margin: auto;
    width: 20%;
    height: 30%;
    padding: 10px;
    opacity: 0.3;
    border: 5px black;
    
}

.img5:hover {
    
   opacity:1;
    
}
    
   